* {
    margin: 0px;
    padding: 0px;
}

:root {
    --navbar-height: 59px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 100%;

}


.logo img {
    margin: 10px 5px 5px 20px;
    padding: 2px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    /* padding: 3px; */
    display: flex;

}

.navbar ul {

    display: flex;
    list-style: none;

}

.navbar ul li {

    /* float: left; */
    text-decoration: none;
    padding: 20px 5px;
    margin: 10px;
}

.navbar ul li a {
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
    font-size: .90rem;
    font-family: monospace;
    margin: 10px;
    padding: 8px 15px;
    border-radius: 35px;
}


.nav-list li a:hover {
    color: rgb(238, 24, 209);
    background-color: rgb(248, 207, 25);

}


.searchBox {
    margin-top: 10px;


}


#search {
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    font-family: monospace;
    border: 2px solid white;

}

.srhbtn {
    font-family: monospace;
    margin: 5px;
    padding: 3px 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.srhbtn:hover {
    background-color: rgb(248, 207, 25);
    border: 2px solid white;

}

.dropbtn {
    background-color: rgba(65, 155, 24, 0.938);
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 8px;
    color: white;
    font-size: 16px;
    font-family: monospace;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    background-color: black;
    /* background-color:rgb(255, 255, 255); */
    min-width: 104px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    color: white;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 10px 10px;
}

.dropdown-content a:hover {
    /* background-color: #f0ec0f; */
    /* color: rgb(25, 139, 14); */

    background-color: rgba(65, 155, 24, 0.938);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #177c1a;

}

/* .proPic{
    justify-items: right;
    margin: 10px;
    padding: 2px ;
    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-right: 30px;

} */